.site-button {
    display: inline-block;
    padding: 0.8em 1.2em;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 500;
    color: rgb(255, 255, 255);
    transition: 0.5s ease;
    font-size: 0.9em;
}

.button-pink {
    background-color: #E6478F;
}

.button-black {
    background-color: #000000;
}

.button-pink:hover {
    background-color: #b72365;
}
.button-black:hover {
    background-color: #49475d;
} 