.site-button {
    display: inline-block;
    padding: 0.8em 1.2em;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-size: 0.9em;
    text-align: center;
}

.button-pink {
    background-color: var(--main-color);
}

.button-black {
    background-color: #000000;
}

.button-pink:hover {
    background-color: var(--main-color-hover);
}

.button-black:hover {
    background-color: #49475d;
} 