.modal-auth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
}

.modal-auth-img {
    width: 120px;
}

.modal-auth-img img {
    width: 100%;
} 

.modal-auth-title {
    font-size: 1.2em;
    font-weight: 500;
}

.modal-auth-inputs {
    width: 90%;
}

.coolinput {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: static;
}

.coolinput label.text {
  font-size: 0.75rem;
  color: #a0a0a0;
  font-weight: 400;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: #ffffff;
  width: fit-content;
}

.coolinput input[type=email].input, .coolinput input[type=password].input  {
  padding: 11px 10px;
  font-size: 0.75rem;
  border: 1px #d2d2d2 solid;
  border-radius: 12px;
  background: #ffffff;
}

.coolinput input[type=email].input:focus, .coolinput input[type=password].input:focus {
  outline: none;
}

.modal-auth-button {
    margin-top: 1.5em;
    width: 90%;
}

.modal-auth-options {
    display: flex;
    gap: 1em;
    font-size: 0.8em;
    color: var(--main-color);
    text-decoration: underline;
    margin-top: 1em;
}

.modal-auth-using {
    margin-top: 1.5em;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}

.modal-auth-using-col {
    width: 28%;
}

.modal-auth-line {
    height: 1px;
    background-color: #dedede;
}

.modal-auth-using-text {
    font-size: 0.8em;
    text-transform: uppercase;
    color: #b8b8b8;
}

.modal-auth-using-icons {
    margin-top: 1.5em;
    margin-bottom: 1em;
    display: flex;
    gap: 0.6em;
}

.modal-auth-using-g-icon{
    background-color: rgb(255, 255, 255);
    padding: 0.5em 0.6em;
    border-radius: 100px;
}

.modal-auth-using-f-icon {
    background-color: rgb(35, 106, 207);
    padding: 0.5em 0.6em;
    border-radius: 100px;
}

.modal-auth-using-apple-icon {
    background-color: rgb(0, 0, 0);
    padding: 0.5em 0.6em;
    border-radius: 100px;
}