.prop {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.prop-left {
    width: 50%;
    display: flex;
    align-items: center;
}

.text-container {
    margin-left: 8em;
    color: rgb(233, 233, 233);
}

.prop-title {
    font-size: 2.5em;
    font-weight: 600;
}

.prop-text {
    font-size: 1.5em;
}

.prop-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6em;
}

.prop-img {
    width: 60%;
}

.carousel-item {
    height: 100%;
}