.cart-button {
    display: inline-block;
    padding: 0em 0.8em;
    border-radius: 100px;
    background-color: #E6478F;
    color: rgb(255, 255, 255);
}

.cart-button svg {
    margin-bottom: 5px;
}