.cart-button {
    display: inline-block;
    padding: 0em 0.8em;
    border-radius: 100px;
    background-color: var(--main-color);
    color: rgb(255, 255, 255);
    width: 2.5em;
    height: 1.6em;
}

.cart-button:hover {
    background-color: var(--main-color-hover);
}

.cart-button svg {
    margin-bottom: 5px;
}