body {
    margin: 0;
    padding: 0;
}

#root {
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

:root {
    --main-color: #0fa36a;
    --main-color-hover: #3abc8a;
}

.container-ultra-plus-mega-pro-max-verstappen {
    padding: 0 7.5%;
}

main {
    flex: 1;
}

.my-form-control {
    background-color: rgb(239, 240, 240);
    border: none;
    border-radius: 12px;
}

.form-control:focus {
    background-color: rgba(228, 228, 228, 0.935);;
    border-color: none;
    box-shadow: none;
    transition: 0.5s ease;
}

.nav-button {
    font-weight: 600;
    margin-left: 1.6em;
    cursor: pointer;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    color: black;
    text-decoration: none;
}

.top-header {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
}

.nav-list {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.info {
    font-size: 13px;
    color: rgb(126, 126, 126);
}

.add {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 0.6em 2em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-text {
    font-size: 2.2em;
    font-weight: 600;
}

.logo-img {
    width: 1.5em;
    margin-right: 1.2em;
}

.cart-amount {
    background-color: var(--main-color);
    border-radius: 50em;
    font-size: 0.8em;
    padding: 0.05em 0.5em;
    color: rgb(255, 255, 255);
    position: absolute;
    right: 15px;
    top: 18px;
}

.uoom-dot {
    background-color: var(--main-color);
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50px;
    left: 15px;
    top: 31px;
}

.navbar {
    padding:1em;
}

.footer {
    background-color: black;
    margin-top: 2em;
}

.footer-row {
    margin-top: 2.5em;
    display: flex;
    gap: 4%;
    margin-bottom: 1em;
}

.footer-col {
    width: 17%;
}

.footer-card {
    background-color: rgb(58, 58, 58);
    border-radius: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.footer-card-title {
    color: #ffffff;
    margin-bottom: 1em;
    font-weight: 500;
}

.footer-img {
    background-color: #ffffff;
    border-radius: 0.6em;
    width: 75%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.footer-card-info {
    color: #ffffff;
    font-size: 0.8em;
    padding: 1em;
}

.footer-card-imgs {
    display: flex;
    gap: 0.5em;
}

.footer-title {
    color: #ffffff;
    font-weight: 500;
    margin-top: 1em;
}

.footer-col a {
    margin-top: 0.5em;
    color: #939ab4;
    font-size: 0.9em;
    text-decoration: none;
    font-weight: 100;
    display: flex;
    flex-direction: column;
}

.copy {
    margin-top: 2em;
    color: #939ab4;
}

.footer-hr {
    color: #939ab4;
}

.user-profile-img {
    width: 30px;
    border-radius: 100%;
}

.profile {
    position: relative;
}
