body {
    margin: 0;
    padding: 0;
}

#root {
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex: 1;
}

.my-form-control {
    background-color: rgb(240, 239, 239);
    border: none;
    border-radius: 12px;
}

.form-control:focus {
    background-color: rgba(228, 228, 228, 0.935);;
    border-color: none;
    box-shadow: none;
    transition: 0.5s ease;
}

.nav-button {
    font-weight: 600;
    margin-left: 1.6em;
    cursor: pointer;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}

.top-header {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
}

.nav-list {
    display: flex;
    gap: 20px; /* расстояние между элементами */
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.info {
    font-size: 13px;
    color: rgb(126, 126, 126);
}

.add {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 0.6em 2em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}